@using F2G.Models;
@{
    ViewData["Title"] = "Results";
    List<File> files = (List<File>)ViewData["Files"];
}
<h2>@ViewData["Title"]</h2>

@if (files.Count > 0)
{
    <h3>Requested Files:</h3>
    <table style="width:auto" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Source</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (File f in files)
            {
                <tr>
                    <td><span>@f.response.request.client.name</span></td>
                    <td><a asp-action="Download" asp-route-file=@f.ID>Download <span class="glyphicon glyphicon-download-alt"></span></a></td>
                    <td><a asp-action="Email" asp-route-file=@f.ID>Email <span class="glyphicon glyphicon-envelope"></span></a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No files were found.</h3>
    <br />
    <a style="margin-top: 15px" asp-controller="Home" asp-action="Index" role="button" class="btn btn-primary btn-lg">Return</a>
}

@section Scripts {
    <script type="text/javascript">
        window.onbeforeunload = function () {
            // peform ajax here
            return "deleting all files!";
        }
    </script>
}