@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>File2Go is a web-based service that allows you to access any of your files, anywhere, anytime.</p>
<br />
<h3>Creators:</h3>
<h5>Daniel Dastoor</h5>
<h5>Andrey Gonzales</h5>
<h5>Janet Leahy</h5>
<h5>Austin Wattling</h5>
